body {
  margin: 0;
  font-family: Arial;
  background: #eaeded;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #131921;
  padding: 10px 20px;
  color: white;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.search {
  width: 40%;
  padding: 8px;
}

.nav-links a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px,1fr));
  gap: 20px;
  padding: 20px;
}

.product-card {
  background: white;
  padding: 15px;
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  text-align: center;
}

.product-card img {
  height: 180px;
  object-fit: contain;
}

.price {
  font-weight: bold;
  color: #b12704;
}

button {
  margin: 5px;
  padding: 7px;
  background: #ffd814;
  border: none;
  cursor: pointer;
}
